* {
    margin: 0;
    padding: 0;
}

.sign-page {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(237, 78, 207, 1), rgba(156, 105, 208, 1));
    position: fixed;
}

.sign-b {
    width: 100%;
    max-width: 1240px;
    margin: 0px auto;
}

.sign-c {
    margin: 15px 0px;
    display: flex; 
}

.logo-section, .form_a {
    flex-basis: 50%;
}

.logo-section {
    background: linear-gradient(153.25deg, #382492 1.17%, #491A80 40.69%, #581477 95.44%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.gist_logo img {
    width: 80px;
    height: 80px
}

.gist {
    width: 330px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 29px;
    text-align: center;
}

.gist span {
    font-family: 'Montserrat';
    font-size: 32px;
    line-height: 39px;
    color: rgba(252, 24, 255, 1);

}

.circle_a {
    background: linear-gradient(70.39deg, #22B7D8 1.13%, #5726A5 62.92%);
    height: 150px;
    width: 150px;
    border-radius: 100px;
    position: absolute;
    top: 53px;
    left: 350px;
}

.circle_b {
    background: linear-gradient(152.56deg, #A513A8 19.32%, #7A1DAA 58.11%);
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 110px;
    top: 358px; 
}

.circle_c {
    background: linear-gradient(152.56deg, #A513A8 19.32%, #7A1DAA 58.11%);
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: absolute;
    left: 510px;
    top: 448px;
}

.animate__animated {
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.imageab img {
    width: 210px;
    height: 318px;
}

.image_a {
    position: absolute;
    top: 0;
    right: 0;
}

.image_b {
    position: absolute;
    bottom: 0;
    left: 0;
}

.form_a {
    background-color: #F5F5F5;;
}

.form_b {
    width: 70%;
    margin: 24px auto;
}

.sign_text {
    background: linear-gradient(180deg, #A513A8 0%, #7A1DAA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    padding-bottom: 33px;
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
}

.form_b input {
    background-color: transparent;
    width: 100%;
    margin-bottom: 26px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgba(103, 59, 153, 1);
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 400;
    line-height: 39px;
}

.form_b button {
    background: linear-gradient(90deg, #673B99 13.34%, #E731C5 93.54%);
    width: 100%;
    padding: 3px 0px;
    font-family: 'Montserrat';
    font-size: 22px;
    font-weight: 500;
    line-height: 39px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    border-radius: 5px;
    transition: background-color, color;
    transition-duration: 2s, 8s;
    transition-delay: 5s;
}

.acct_log {
    padding-top: 5px;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.acct_log a {
    background: linear-gradient(180deg, #A513A8 0%, #7A1DAA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.social_icon {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.social_icon li {
    display: flex;
    margin-left: 30px;
}

@media screen and (max-width: 768px) {
    .display_circle {
        display: none;
   }

   .sign-page {
        background: linear-gradient(153.25deg, #382492 1.17%, #491A80 40.69%, #581477 95.44%);
        position: fixed;
    }

   .sign-b {
        width: 100%;
        max-width: 474px;
        margin: 0px auto;
    }

    .sign-c {
        margin: 25px auto;
        display: flex; 
        flex-direction: column;
    }  
    
    .logo-section, .form_a {
        flex-basis: content;
    }

   .gist_logo img {
        width: 50px;
        height: 50px
    }

    .gist {
        width: 301px;
        color: rgba(255, 255, 255, 1);
        font-weight: 600px;
        font-family: 'Montserrat';
        font-size: 29px;
        text-align: center;
    }

    .gist span {
        font-family: 'Montserrat';
        font-size: 29px;
        line-height: 29px;
        color: rgba(252, 24, 255, 1);

    }

    .form_a {
        background-color: #F5F5F5;;
    }
    
    .form_b {
        width: 70%;
        margin: 18px auto;
    }
    
    .sign_text {
        background: linear-gradient(180deg, #A513A8 0%, #7A1DAA 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -webkit-text-fill-color: transparent;
        padding-bottom: 33px;
        font-family: 'Montserrat';
        font-size: 26px;
        font-weight: 600;
        line-height: 30px;
    }
    
    .form_b input {
        background-color: transparent;
        width: 100%;
        margin-bottom: 19px;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 2px solid rgba(103, 59, 153, 1);
        font-family: 'Montserrat';
        font-size: 18;
        font-weight: 400;
        line-height: 33px;
    }
    
    .form_b button {
        background: linear-gradient(90deg, #673B99 13.34%, #E731C5 93.54%);
        width: 100%;
        padding: 3px 0px;
        font-family: 'Montserrat';
        font-size: 18px;
        font-weight: 500;
        line-height: 33px;
        color: #FFFFFF;
        text-align: center;
        border: none;
        border-radius: 3px;
    }

    .acct_log {
        padding-top: 3px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    
    .acct_log a {
        font-weight: 600;
    }
    
    .social_icon {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }
    
    .social_icon li {
        margin-left:  20px;
    }

    svg {
        width: 30px;
        height: 30px;
    }

    

}